/* Estilos para a lista */
body {
  background-color: #080000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Estilos para o botão */
button {
  background-color: #292929;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 5px;
}

input {
  background-color: #292929;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}


/* Estilos para a tabela */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.table2 {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.corlinha {
  background-color: black;
  border-bottom: 2px solid #404040;
  font-size: 20px;
}


td {
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #404040;
}

th {
  background-color: #393939;
  border-bottom: 2px solid #404040;
}

p {
  background-color: #f7f0f0;
  border-bottom: 2px solid #404040;
}

tr:nth-child(even) {
  background-color: #141414;
}

tr:nth-child(odd) {
  background-color: #615a5a;
}

tr:hover {
  background-color: #4a3899;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.black-row {
  background-color: black;
  color: white;
}

.grafiti-row {
  background-color: #424242;
  color: white;
}

.negative-value {
  color: red;
  font-weight: bold;
}

.danger-value {
  color: rgb(241, 226, 3);
  font-weight: bold;
}

.verde-value {
  color: rgb(0, 255, 98);
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

label {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: #faf9f9;
  font-size: 15px;
  align-self: center; /* Alterado para "center" */
}
.yellow-icon {
  border: 4px solid rgb(213, 238, 71);
}
.green-icon {
  color: green;
}
.red-border {
  border: 4px solid red;
}

.green-border {
  border: 4px solid rgb(37, 216, 14);
}


.red-bg {
  background-color: red;
}


input[type="date"],
button {
  padding: 5px;
}

.ultimo-input {
  margin-left: 200px;
}

.left-align {
  text-align: left;

}
.centro-align {
  text-align: center;
  background-color: black;
}

/* Estilo para ajuste da largura da coluna Fornecedores */
.auto-width {
  width: auto;
  white-space: nowrap;
}
.custom-button {
  width: max-content;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
}

.button-container button {
  flex: 1;
  width: 100%;
}
.background-red {
  background-color: red;
}

.background-blue {
  background-color: rgb(37, 2, 100);
}
.form-wrapper {
  position: absolute;
  top: 10%;
  left: 1%;
  right:1%;

}

.background-green {
  border: 4px solid green;
}
.centered-table {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px; /* Defina a largura máxima desejada para a tabela */
  border: 4px solid black; /* Adiciona uma borda preta de 1 pixel à tabela */
}
.centered-table2 {
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px; /* Defina a largura máxima desejada para a tabela */
  border: 4px solid black; /* Adiciona uma borda preta de 1 pixel à tabela */
}
.centered-button {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #e0d9d9;
  border: none;
  color: rgb(14, 12, 12);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;

  cursor: pointer;
  border-radius: 5px;

}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-icon {
  animation: blink 1s infinite;
  color: rgb(43, 226, 43);
}

.vermelho-icon {

  color: rgb(247, 11, 51);
}
.button-spacing {
  margin-right: 10px; /* Adicione o espaçamento horizontal desejado */
}
.dialog-container2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black !important;
  width: 700px;

}
.dialog-container2 .modal-body {
  margin: 0%;
}

.dialog-container2 .modal-title {
  color: white;
  text-align: center;
  margin: auto;
  width: 50%;
}


.dialog-container2 .modal-label {
  color: white;
  text-align: center;
  margin-left: 10px;
}

.dialog-container2 .modal-input1 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  width: 300px;
  text-align: left;
}
.dialog-container2 .modal-input2 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 60px;
  margin-right: 30px;
  width: 100px;
  text-align: left;
}
.dialog-container2 .modal-input3 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 43px;
  margin-right: 30px;
  width: 500px;
  text-align: left;
}
.dialog-container2 .modal-input4 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 43px;
  margin-right: 30px;
  text-align: left;
  width: 200px;
}

.dialog-container2 .modal-div {
  display: flex;
justify-content: center;
}
.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black !important;
  width: 2000px;

}
.dialog-container .modal-body {
  margin: 0%;
}

.dialog-container .modal-title {
  color: white;
  text-align: center;
  margin: auto;
  width: 50%;
}


.dialog-container .modal-label {
  color: white;
  text-align: center;
}

.dialog-container .modal-input1 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  width: 300px;
  text-align: left;
}
.dialog-container .modal-input2 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 60px;
  margin-right: 30px;
  width: 100px;
  text-align: left;
}
.dialog-container .modal-input3 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 43px;
  margin-right: 30px;
  width: 500px;
  text-align: left;
}
.dialog-container .modal-input4 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 43px;
  margin-right: 30px;
  text-align: left;
  width: 200px;
}

.dialog-container .modal-div {
  display: flex;
justify-content: center;
}



/* Defina o estilo para as divs dentro da classe 'modal-body' */
.modal-body div {
  display: block;
  margin-bottom: 10px; /* Adicione espaço entre as divs (opcional) */
}

/* Estilize os inputs dentro das divs */
.modal-body input {
  width: 100%; /* Defina o tamanho dos inputs como 100% da largura da div (opcional) */
  padding: 5px; /* Adicione um espaçamento interno aos inputs (opcional) */
  box-sizing: border-box; /* Faça com que o padding não altere o tamanho total do input (opcional) */
}

/* Estilize os labels dentro das divs (opcional) */
.modal-body label {
  font-weight: bold;
}

/* Estilize os botões dentro da classe 'modal-div' (opcional) */
.modal-div button {
  margin-right: 10px; /* Adicione espaço entre os botões (opcional) */
}

/* Estilize o label e o input dentro da div */
div label,
div input {
  display: inline-block;
  vertical-align: middle; /* Isso alinhará o texto do label verticalmente ao centro do input */
}


.same-line-container {
  white-space: nowrap; /* Impede que os elementos sejam quebrados em várias linhas */
}

.same-line-container label,
.same-line-container input {
  align-items: center;
  vertical-align: middle; /* Isso alinhará os elementos verticalmente ao centro */
  margin-left: 10px;
  /* Adicione outros estilos desejados */
}

.button {
  width: 100px;
  height: 40px;
  margin: 10px; /* Adicione margem para espaçamento entre os botões */
  /* Adicione outros estilos desejados para os botões */
  margin-left: 260px;
}
.botao {
  width: 100px;
  height: 40px;
  margin: 10px; /* Adicione margem para espaçamento entre os botões */
  /* Adicione outros estilos desejados para os botões */
}

/* Estilize a div com a classe 'modal-divfinal' para centralizar o conteúdo */
.modal-divfinal {
  display: flex;
  justify-content: center; /* Centraliza os elementos filhos horizontalmente */
  margin-top: 20px; /* Adicione margem no topo, se necessário */
}

select {
  background-color: #292929;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.dialog-container .modal-select {
  display: inline-block;
  vertical-align: middle;
  color: rgb(5, 5, 5);
  background-color: #f7f0f0;
  width: 300px;
  text-align: left;
}
.dialog-container .modal-select1 {
  display: inline-block;
  vertical-align: middle;
  color: rgb(5, 5, 5);
  background-color: #f7f0f0;
  width: 100px;
  text-align: left;
}


/* Estiliza a tabela */
.table2000 {
  width: 100%; /* Define a largura da tabela como 100% da largura do contêiner */
  border-collapse: collapse; /* Combina as bordas das células adjacentes */
  font-size: 16px; /* Tamanho da fonte para o texto da tabela */
}

/* Estiliza o cabeçalho da tabela */
.table2000 th {
  background-color:black; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto do cabeçalho */
  padding: 10px; /* Espaçamento interno das células do cabeçalho */
  text-align: center; /* Alinhamento do texto no centro do cabeçalho */
  border: 1px solid #404040; /* Borda das células do cabeçalho */
}

/* Estiliza as células da tabela */
.table2000 td {
  padding: 10px; /* Espaçamento interno das células da tabela */
  text-align: center; /* Alinhamento do texto no centro das células */
  border: 0,1px solid rgb(44, 40, 40); /* Borda das células da tabela */
  background-color: black;
}

/* Estiliza as células da primeira coluna (opcional) */
.table2000 td:first-child {
  font-weight: bold; /* Define o texto em negrito */
}

/* Estiliza as células do corpo da tabela (não inclui cabeçalho) */
.table2000 tbody td {
  background-color:black; /* Cor de fundo das células do corpo da tabela */
  color: white; /* Cor do texto das células do corpo da tabela */
}

/* Estiliza as células das linhas pares (opcional) */
.table2000 tbody tr:nth-child(even) td {
  background-color: #141414; /* Cor de fundo das células das linhas pares */
}

/* Estiliza as células das linhas ímpares (opcional) */
.table2000 tbody tr:nth-child(odd) td {
  background-color:black; /* Cor de fundo das células das linhas ímpares */
}

/* Estiliza as células do rodapé da tabela (opcional) */
.table2000 tfoot td {
  background-color:black; /* Cor de fundo das células do rodapé */
  color: white; /* Cor do texto do rodapé */
  font-weight: bold; /* Define o texto do rodapé em negrito */
  border-top: 2px solid #404040; /* Borda superior das células do rodapé */
}

/* Estiliza o cabeçalho das colunas (opcional) */
.table2000 thead th {
  background-color: black; /* Cor de fundo do cabeçalho das colunas */
  color: white; /* Cor do texto do cabeçalho das colunas */
  font-weight: bold; /* Define o texto do cabeçalho das colunas em negrito */
  border: 1px solid #404040; /* Borda das células do cabeçalho das colunas */
}

/* Estiliza a linha que separa o cabeçalho das colunas (opcional) */
.table2000 thead tr {
  border-bottom: 2px solid #404040; /* Borda inferior da linha do cabeçalho das colunas */
}

/* Estiliza a primeira linha da tabela (opcional) */
.table2000 tbody tr:first-child td {
  background-color:black; /* Cor de fundo da primeira linha */
  color: white; /* Cor do texto da primeira linha */
}

/* Estiliza a última linha da tabela (opcional) */
.table2000 tbody tr:last-child td {
  background-color:black; /* Cor de fundo da última linha */
  color: white; /* Cor do texto da última linha */
}

/* Estiliza as células de rodapé da primeira coluna (opcional) */
.table2000 tfoot td:first-child {
  font-weight: bold; /* Define o texto das células de rodapé da primeira coluna em negrito */
}
.table2000 td.align-left {
  text-align: left;
}

.custom-tooltip {
  position: absolute;
  background-color: black;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translate(-100%, 0); /* Posiciona o tooltip no canto inferior direito */
}

.container2{

  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Estilo para a seta para cima (vermelha) */
.arrow-up {
  color: red; /* Ou qualquer outra cor desejada */
}

/* Estilo para a seta para baixo (verde) */
.arrow-down {
  color: green; /* Ou qualquer outra cor desejada */
}


