/* Estilos para a lista */
body {
    background-color: #361111;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos para o botão */
button {
    background-color: #292929;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    background-color: #292929;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

select {
  background-color: #292929;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos para a tabela */
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #2b2b2b;
    color: white;
    border-radius: 5px;
    text-align: center;
    /* centraliza o conteúdo das células da tabela */
    font-size: 18px;
    /* aumenta o tamanho da fonte da tabela */
}

th,
td {
    text-align: center;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 7px;
}

th {
    background-color: #393939;
    border-bottom: 2px solid #404040;
    border-radius: 7px;
}

p {
    background-color: #f7f0f0;
    border-bottom: 2px solid #404040;
}

/* tr:nth-child(even) {
    background-color: #141414;
}

tr:nth-child(odd) {
    background-color: #615a5a;
} */

tr:hover {
    background-color: #1c7fc0;
}

div {
    margin-top: 2px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    background-color: black;
overflow-y: auto;
}

.black-row {
    background-color: black;
    color: white;
}

.grafiti-row {
    background-color:black;
    color: white;
}

tr.header-row {
    background-color: rgb(13, 11, 26);
    /* Substitua pela cor desejada para a primeira linha */
    color: #fff;
    /* Cor do texto para a primeira linha */
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-buttons button {
    padding: 5px;
    font-size: 20px;
}

.action-buttons button .material-icons {
    font-size: 20px;
}

.chart-container {
    width: 35%;
    height: 20%;
    display: inline-block;
}

.headerContratos {
    display: flex;
    justify-content: space-between;
}

.align-left {
    /* Ajuste o alinhamento esquerdo conforme necessário */
    margin-left: 0px;
    text-align: left;

  &.search {
      margin-left: 20px;
    }
}

.input-maior {
  flex: 2;
}

.align-right {
    /* Ajuste o alinhamento direito conforme necessário */
    margin-right: 10px;
    text-align: right;
}

.planned {
    background-color: rgb(4, 4, 150) !important;
}

.executing {
    background-color: rgb(179, 179, 2) !important;
}

.completed {
    background-color: dimgrey !important;
}

.rejected {
    background-color: orange !important;
}

.canceled {
    background-color: rgb(231, 48, 48) !important;
}

.table2 {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}
.dialog-relative-position {
  position: relative;
  top: -500px;
  left: 50px;

}

.subtitulo {
  color: #fff;
  font-size: 30px;
}

.dialog-container {
  position: fixed;
  top: 10%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  background-color: black !important;
  width: 80%; /* Defina a largura desejada */
  height: 80%; /* Defina a altura desejada */
  overflow-y: auto;
  border: ridge;
}

.dialog-container .modal-body {
  display: flex;
  margin: 1%;
}

.dialog-container .modal-title {
  color: white;
  text-align: center;
  margin: 0;
  /* margin-top: 5px; */
  width: 100%;
  background-color: black;
  font-size: 30px;
}

.dialog-container .modal-contact {
  color: white;
  text-align: right;
  margin: 0;
  /* margin-top: 5px; */
  width: 100%;
  background-color: black;
  font-size: 18px;
}

.modal-title2 {
  color: white;
  text-align: right;
  margin: auto;
  width: 50%;
  background-color: black;
}


.dialog-container .modal-label {
  color: white;
  width: 30%; /* Largura do rótulo */
  margin-left: 10px;
  background-color: black;
}

.dialog-container .modal-input0 {
  flex: 1; /* Ocupa todo o espaço disponível na linha */
  /* margin-left: 10px; Adicione um espaço entre o rótulo e o input */
  color: rgb(5, 5, 5);
  background-color: #f7f0f0;
  width: 100%;
}

.dialog-container .modal-input1 {
  flex: 1; /* Ocupa todo o espaço disponível na linha */
  margin-left: 10px; /* Adicione um espaço entre o rótulo e o input */
  color: rgb(5, 5, 5);
  background-color: #f7f0f0;
}
.dialog-container .modal-select {
  display: inline-block;
  vertical-align: middle;
  color: rgb(5, 5, 5);
  background-color: #f7f0f0;
  margin-right: 0px;
  width: 100%;
  text-align: left;
}
.dialog-container .modal-input2 {
  display: inline-block;
  vertical-align: middle;
  color: rgb(5, 5, 5);
  background-color: #f7f0f0;
  margin-left: 10px;
  /* width: 30%; */
  text-align: left;
}
.dialog-container .modal-input3 {
  display: inline-block;
  vertical-align: middle;
  color: rgb(5, 5, 5);
  background-color: #f7f0f0;
  margin-right: 70px;
  /* width: 15%; */
  text-align: left;
}
.dialog-container .modal-input4 {
  display: inline-block;
  vertical-align: middle;
  color: rgb(5, 5, 5);
  background-color: #f7f0f0;
  margin-left: 43px;
  margin-right: 30px;
  text-align: left;
}

.dialog-container .modal-div {
  display: flex;
justify-content: center;
background-color: black;
}

.dialog-container .modal-button {
  margin-right: 30px;
  flex: 1;
}
.same-line-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.same-line-container label,
.same-line-container input {
  display: inline-block;
  vertical-align: middle; /* Isso alinhará os elementos verticalmente ao centro */
  /* Adicione outros estilos desejados */
}

/*.button {
  width: 20%;
  height: 40px;
  margin: 10px; /* Adicione margem para espaçamento entre os botões */
  /* Adicione outros estilos desejados para os botões 
  margin-left: 260px;
}
.botao {
  width: 20%;
  height: 40px;
  margin: 10px; /* Adicione margem para espaçamento entre os botões */
  /* Adicione outros estilos desejados para os botões 
} */

/* Estilize a div com a classe 'modal-divfinal' para centralizar o conteúdo */
.modal-divfinal {
  display: flex;
  justify-content: center; /* Centraliza os elementos filhos horizontalmente */
  margin-top: 20px; /* Adicione margem no topo, se necessário */
  background-color: black;
}

/* Estiliza a tabela */
.table2000 {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%; /* Define a largura da tabela como 100% da largura do contêiner */
  border-collapse: collapse; /* Combina as bordas das células adjacentes */
  font-size: 16px; /* Tamanho da fonte para o texto da tabela */
}

/* Estiliza o cabeçalho da tabela */
.table2000 th {
  background-color:black; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto do cabeçalho */
  padding: 10px; /* Espaçamento interno das células do cabeçalho */
  text-align: center; /* Alinhamento do texto no centro do cabeçalho */
  border: 1px solid #404040; /* Borda das células do cabeçalho */
}

/* Estiliza as células da tabela */
.table2000 td {
  padding: 10px; /* Espaçamento interno das células da tabela */
  text-align: center; /* Alinhamento do texto no centro das células */
  border: 0,1px solid rgb(44, 40, 40); /* Borda das células da tabela */
  background-color: black;
}

/* Estiliza as células da primeira coluna (opcional) */
.table2000 td:first-child {
  font-weight: bold; /* Define o texto em negrito */
}

/* Estiliza as células do corpo da tabela (não inclui cabeçalho) */
.table2000 tbody td {
  background-color:black; /* Cor de fundo das células do corpo da tabela */
  color: white; /* Cor do texto das células do corpo da tabela */
}

/* Estiliza as células das linhas pares (opcional) */
.table2000 tbody tr:nth-child(even) td {
  background-color: #141414; /* Cor de fundo das células das linhas pares */
}

/* Estiliza as células das linhas ímpares (opcional) */
.table2000 tbody tr:nth-child(odd) td {
  background-color:black; /* Cor de fundo das células das linhas ímpares */
}

/* Estiliza as células do rodapé da tabela (opcional) */
.table2000 tfoot td {
  background-color:black; /* Cor de fundo das células do rodapé */
  color: white; /* Cor do texto do rodapé */
  font-weight: bold; /* Define o texto do rodapé em negrito */
  border-top: 2px solid #404040; /* Borda superior das células do rodapé */
}

/* Estiliza o cabeçalho das colunas (opcional) */
.table2000 thead th {
  background-color: black; /* Cor de fundo do cabeçalho das colunas */
  color: white; /* Cor do texto do cabeçalho das colunas */
  font-weight: bold; /* Define o texto do cabeçalho das colunas em negrito */
  border: 1px solid #404040; /* Borda das células do cabeçalho das colunas */
}

/* Estiliza a linha que separa o cabeçalho das colunas (opcional) */
.table2000 tr {
  display: flex;
  border-bottom: 2px solid #404040; /* Borda inferior da linha do cabeçalho das colunas */
}

/* Estiliza a primeira linha da tabela (opcional) */
.table2000 tbody tr:first-child td {
  background-color:black; /* Cor de fundo da primeira linha */
  color: white; /* Cor do texto da primeira linha */
}

/* Estiliza a última linha da tabela (opcional) */
.table2000 tbody tr:last-child td {
  background-color:black; /* Cor de fundo da última linha */
  color: white; /* Cor do texto da última linha */
}

/* Estiliza as células de rodapé da primeira coluna (opcional) */
.table2000 tfoot td:first-child {
  font-weight: bold; /* Define o texto das células de rodapé da primeira coluna em negrito */
}
.table2000 td.align-left {
  text-align: left;
}

.container {
  margin: auto;
  margin-top: 30px;
  width: 70%;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
}

.inner-divs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.conteudoTable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &.selectButton {
    align-items: center;
  }
}

.text-danger {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.camposLabels {
  display: flex;
  flex-direction: column;

  bottom {
    width: 20%;
  }
}

.selectStatus {
  flex: 1;
}

