<body>
  <div class="headerContratos">
    <div class="align-left search">
      <input type="text" [(ngModel)]="searchString" (keyup)="aplicarFiltro()" placeholder="Filter">
    </div>
    <h3 class="subtitulo">Frete Extra</h3>
    <div class="align-right">
      <button mat-button (click)=" editDialog(items)">
        <span class="material-icons">note_add</span> Solicitar Frete Extra
      </button>

    </div>
  </div>
  <ul>
    <table>
      <thead>
        <tr class="header-row">
          <td><label>ID</label></td>
          <td><label>Pickup Date</label></td>
          <td><label>Origin</label></td>
          <td><label>Address</label></td>
          <td><label>Destination</label></td>
          <td><label>Delivery Date</label></td>
          <td><label>Request By</label></td>
          <td><label>Carrier</label></td>
          <td><label>Vehicle Carrier</label></td>
          <td><label>Vehicle Requested</label></td>
          <td><label>License Plate</label></td>
          <td><label>Status</label></td>
          <td><label>Actions</label></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items" [class]="getStatusClass(item.status)">
          <td>{{ item.ID }}</td>
          <td>{{ item.datePickup | date:'dd-MM-yy' + " " + item.timePickup }}</td>
          <td>{{ item.locationPickup }}</td>
          <td>{{ item.addressPickup }}</td>
          <td>{{ item.locationDelivery + " - " + (item.areaDelivery ? item.areaDelivery : "")}}</td>
          <td>{{ item.dateDelivery | date:'dd-MM-yy' + " " + item.timeDelivery }}</td>
          <td>{{ item.reqName + " - " + item.reqId}}</td>
          <td>{{ item.carrier}}</td>
          <td>{{ item.vehicleType}}</td>
          <td>{{ item.reqVehicle}}</td>
          <td>{{ item.licensePlate}}</td>
          <td>{{ item.status}}</td>
          <td class="action-buttons">
            <button mat-icon-button color="primary" aria-label="Editar" (click)="editDialog(item)">
              <span class="material-icons">edit</span>
            </button>
            <button [disabled]="usuarioLogado.role != '0' && usuarioLogado.role != '2'" mat-icon-button color="warn"
              aria-label="Excluir" (click)="deleteItem(item.ID, urlConsulta, query)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ul>
</body>
<clr-modal [(clrModalOpen)]="dialogOpen" [clrModalSize]="'md'" class="dialog-container">
  <h3 class="modal-title">Solicitação de Frete Extra</h3>
  <p class="modal-contact">Contact: <abbr style="color: #3b82f6;">SSBVAD</abbr> Phone: 55114344-8947 | Mobile: +55 11 97488-2943</p>
  <div class="modal-body">
    <form class="inputs">
      <table class="table2000">
<tr>
      <td [class]="getStatusClass(item.status)" class="camposLabels selectStatus">
          <H2 >{{ item.status }}</H2>
      </td>
      <td class="camposLabels selectStatus"
        *ngIf="item.status == 'Requested'  && (usuarioLogado.role == '3' || usuarioLogado.role ==  '0' || usuarioLogado.role ==  '2')">
        <button type="button" label="Accept" (click)="item.status = 'Planned'">ACCEPT</button>
      </td>
      <td class="camposLabels selectStatus"
        *ngIf="item.status == 'Requested'  && (usuarioLogado.role == '3' || usuarioLogado.role ==  '0' || usuarioLogado.role ==  '2')">
        <button type="button" label="reject" (click)="item.status = 'Reject'">REJECT</button>
      </td>
      <td class="camposLabels selectStatus" *ngIf="(usuarioLogado.role ==  '0' || usuarioLogado.role ==  '2') && item.status != 'Completed' && item.status != 'Canceled'">
        <button type="button" label="cancel" (click)="item.status = 'Canceled'">CANCEL</button>
      </td>
      <td class="camposLabels selectStatus"
        *ngIf="(item.status == 'Planned' && (usuarioLogado.role == '3' || usuarioLogado.role ==  '0' || usuarioLogado.role ==  '2'))">
        <button type="button" label="executing" (click)="item.status = 'Executing'">EXECUTING</button>
      </td>
      <td class="camposLabels selectStatus"
        *ngIf="item.status == 'Executing' && (usuarioLogado.role == '3' || usuarioLogado.role ==  '0' || usuarioLogado.role ==  '2')">
        <button type="button" label="completed" (click)="item.status = 'Completed'">COMPLETED</button>
      </td>
  
</tr>
        <tr>
          <td>
            <label class="modal-label">Motivo da solicitação</label>
          </td>
          <td class="align-left input-maior">
            <input type="text" name="motive" [(ngModel)]="item.motive" class="modal-input0" [required]="true">
          </td>

          <td>
            <label class="modal-label">Numero da NF</label>
          </td>
          <td>
            <input type="text" name="nf" [(ngModel)]="item.nf" class="modal-input1">
          </td>
          <td>
            <label class="modal-label">Valor total da NF</label>
          </td>
          <td>
            <input type="text" name="nfTotal" [(ngModel)]="item.nfTotal" class="modal-input1">
          </td>
        </tr>
        <tr>
          <td>
            <label class="modal-label">Peso (Kg)</label>
          </td>
          <td>
            <input type="text" name="weight" [(ngModel)]="item.weight" class="modal-input1">
          </td>
          <td>
            <label class="modal-label">Quantidade</label>
          </td>
          <td>
            <input type="text" name="quantity" [(ngModel)]="item.quantity" class="modal-input1">
          </td>
          <td>
            <label class="modal-label">Descrição do Material</label>
          </td>
          <td class="align-left input-maior">
            <input type="text" name="description" [(ngModel)]="item.description" class="modal-input0">
          </td>
        </tr>
        <tr>
          <td>
            <label class="modal-label">Transport.</label>
          </td>
          <td>
            <input [disabled]="!isCarrierEnabled" type="text" name="carrier" [(ngModel)]="item.carrier"
              class="modal-input1">
          </td>
          <td>
            <label class="modal-label">Veículo Solicitado*</label>
          </td>
          <td>
            <select id="reqVehicle" name="reqVehicle" [(ngModel)]="item.reqVehicle" class="modal-select"
              (blur)="onFieldTouched()">
              <option *ngFor="let vehicle of typesVehicles" [value]="vehicle">{{ vehicle }}</option>
            </select>
            <div
              *ngIf="campoTocado && (item.reqVehicle == null || item.reqVehicle == undefined || item.reqVehicle == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
          <td>
            <label class="modal-label">Veículo Disponível</label>
          </td>
          <td>
            <select [disabled]="!isCarrierEnabled" id="vehicleType" name="vehicleType" [(ngModel)]="item.vehicleType" class="modal-select">
              <option *ngFor="let vehicle of typesVehicles" [value]="vehicle">{{ vehicle }}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label class="modal-label">Nome do requisitante*</label>
          </td>
          <td class="align-left">
            <input type="text" name="reqName" (blur)="onFieldTouched()" [(ngModel)]="item.reqName" class="modal-input0">
            <div *ngIf="campoTocado && (item.reqName == null || item.reqName == undefined || item.reqName == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
          <td>
            <label class="modal-label">Usuário*</label>
          </td>
          <td>
            <input type="text" name="reqId" [(ngModel)]="item.reqId" class="modal-input1" (blur)="onFieldTouched()">
            <div *ngIf="campoTocado && (item.reqId == null || item.reqId == undefined || item.reqId == '')">
              <small class="text-danger">Required {{ item.reqId }}</small>
            </div>
          </td>
          <td>
            <label class="modal-label">E-mail*</label>
          </td>
          <td class="align-left">
            <input type="text" name="reqEmail" [(ngModel)]="item.reqEmail" class="modal-input0" (blur)="onFieldTouched()">
            <div *ngIf="campoTocado && (item.reqEmail == null || item.reqEmail == undefined || item.reqEmail == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
          <td>
            <label class="modal-label">Contato*</label>
          </td>
          <td class="input-maior">
            <input type="text" name="reqPhone" [(ngModel)]="item.reqPhone" class="modal-input1" (blur)="onFieldTouched()">
            <div *ngIf="campoTocado && (item.reqPhone == null || item.reqPhone == undefined || item.reqPhone == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="modal-label">E-mail do Gestor</label>
          </td>
          <td>
            <input type="text" name="supEmail" [(ngModel)]="item.supEmail" class="modal-input1">
          </td>
          <td>
            <label class="modal-label">Centro de Custo*</label>
          </td>
          <td>
            <input type="text" name="costCenter" [(ngModel)]="item.costCenter" class="modal-input1"
              (blur)="onFieldTouched()">
            <div
              *ngIf="campoTocado && (item.costCenter == null || item.costCenter == undefined || item.costCenter == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
          <td>
            <label class="modal-label">Numero do Projeto</label>
          </td>
          <td>
            <input type="text" name="projectNumber" [(ngModel)]="item.projectNumber" class="modal-input1">
          </td>
          <td>
            <label class="modal-label">Numero da OS</label>
          </td>
          <td>
            <input type="text" name="orderNumber" [(ngModel)]="item.orderNumber" class="modal-input1">
          </td>
        </tr>
        <h3 class="modal-title">Informações de coleta</h3>
        <tr>
          <td>
            <label class="modal-label">Local de coleta*</label>
          </td>
          <td>
            <!-- <input type="text" name="locationPickup" [(ngModel)]="item.locationPickup" class="modal-input1"> -->
            <select class="selectVehicle" name="locationPickup" [(ngModel)]="item.locationPickup" appendTo="body"
              (blur)="onFieldTouched()">
              <option value="-" disabled selected>-</option>
              <option *ngFor="let type of this.placesOrigin" [value]="type">{{ type }}</option>
              <option value="other">Other</option>
            </select>
            <div
              *ngIf="campoTocado && (item.locationPickup == null || item.locationPickup == undefined || item.locationPickup == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
          <td *ngIf="item.locationPickup == 'other'">
            <label class="modal-label">Endereço</label>
          </td>
          <td *ngIf="item.locationPickup == 'other'">
            <input type="text" name="addressPickup" [(ngModel)]="item.addressPickup" class="modal-input1">
          </td>
          <td>
            <label class="modal-label">Data da Coleta*</label>
          </td>
          <td>
            <input type="date" name="datePickup" [(ngModel)]="item.datePickup" class="modal-input1"
              (blur)="onFieldTouched()">
            <div
              *ngIf="campoTocado && (item.datePickup == null || item.datePickup == undefined || item.datePickup == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
          <td>
            <label class="modal-label">Horário de Coleta*</label>
          </td>
          <td class="input-maior">
            <input type="time" name="timePickup" [(ngModel)]="item.timePickup" class="modal-input1"
              (blur)="onFieldTouched()">
            <div
              *ngIf="campoTocado && (item.timePickup == null || item.timePickup == undefined || item.timePickup == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
        </tr>
        <h3 class="modal-title">Informações de entrega</h3>
        <tr>
          <td>
            <label class="modal-label">Local de entrega*</label>
          </td>
          <td>
            <!-- <input type="text" name="locationDelivery" [(ngModel)]="item.locationDelivery" class="modal-input1"> -->
            <select class="selectVehicle" name="locationPickup" [(ngModel)]="item.locationDelivery" appendTo="body"
              (blur)="onFieldTouched()">
              <option value="-" disabled selected>-</option>
              <option *ngFor="let type of this.placesOrigin" [value]="type">{{ type }}</option>
              <option value="other">Other</option>
            </select>
            <div
              *ngIf="campoTocado && (item.locationDelivery == null || item.locationDelivery == undefined || item.locationDelivery == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
          <td *ngIf="item.locationDelivery == 'SCANIA SBC' || item.locationDelivery == 'Scania SLA'">
            <label class="modal-label">Área</label>
          </td>
          <td *ngIf="item.locationDelivery == 'SCANIA SBC' || item.locationDelivery == 'Scania SLA'">
            <input type="text" name="areaDelivery" placeholder="Ex.: P27-05" [(ngModel)]="item.areaDelivery"
              class="modal-input1">
          </td>
          <td *ngIf="item.locationDelivery == 'other'">
            <label class="modal-label">Endereço</label>
          </td>
          <td *ngIf="item.locationDelivery == 'other'">
            <input type="text" name="addressDelivery" [(ngModel)]="item.addressDelivery" class="modal-input1">
          </td>
          <td>
            <label class="modal-label">Data de entrega*</label>
          </td>
          <td>
            <input type="date" name="dateDelivery" [(ngModel)]="item.dateDelivery" class="modal-input1"
              (blur)="onFieldTouched()">
            <div
              *ngIf="campoTocado && (item.dateDelivery == null || item.dateDelivery == undefined || item.dateDelivery == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
          <td>
            <label class="modal-label">Horário de Entrega*</label>
          </td>
          <td class="input-maior">
            <input type="time" name="timeDelivery" [(ngModel)]="item.timeDelivery" class="modal-input1"
              (blur)="onFieldTouched()">
            <div
              *ngIf="campoTocado && (item.timeDelivery == null || item.timeDelivery == undefined || item.timeDelivery == '')">
              <small class="text-danger">Required</small>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <label class="modal-label">Observações</label>
          </td>
          <td class="align-left input-maior">
            <input type="text" name="notes" [(ngModel)]="item.notes" class="modal-input0">
          </td>
          <td>
            <label class="modal-label">Item Crítico?</label>
          </td>
          <td>
            <input type="checkbox" id="critical">
          </td>
          <td>
            <label class="modal-label">Produto Perigoso?</label>
          </td>
          <td>
            <input type="checkbox" id="dangerousProduct">
          </td>
        </tr>
      </table>
      <div class="modal-div">
        <button class="modal-button" type="button" (click)="salvar()">Save</button>
        <button class="modal-button" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</clr-modal>