/* Estilos para a lista */
body {
  background-color: #361111;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Estilos para o botão */
button {
  background-color: #292929;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

input {
  background-color: #292929;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}



th,
td {
  word-wrap: break-word;
  text-align: center;
  padding: 10px;
  border: 1px solid #404040;
}

th {
  word-wrap: break-word;
  background-color: #393939;
  border-bottom: 2px solid #404040;
}
p {
  background-color: #f7f0f0;
  border-bottom: 2px solid #404040;
}

tr:nth-child(even) {
  background-color: #141414;
}

tr:nth-child(odd) {
  background-color: #615a5a;
}

tr:hover {
  background-color: #aa0d0d;
}
div {
  margin-top: 2px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

  body {
    background-color: black;
  }

  .black-row {
    background-color: black;
    color: white;
  }

  .grafiti-row {
    background-color: #424242;
    color: white;
  }
  .negative-value {
    color: red;
    font-weight: bold;
  }
  .danger-value {
    color: rgb(241, 226, 3);
    font-weight: bold;
  }
  .verde-value {
    color: rgb(0, 255, 98);
    font-weight: bold;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  label {
    margin-right: 5px;
    display: flex;
    align-items: center;
    color: #faf9f9; /* Cor da fonte */
    font-size: 15px; /* Tamanho da fonte */
  }

  input[type="date"],
  button {
    width: auto;
    padding: 5px;
  }
  .ultimo-input {
    margin-left: 200px; /* Ajuste a margem conforme necessário */
  }
  .blue-text {
    background-color: rgb(72, 42, 153);
    color: white;
  }
  .progress-bar-container {
    width: 200px; /* Defina a largura do contêiner da barra de progresso */
    height: 20px; /* Defina a altura do contêiner da barra de progresso */
    background-color: #ccc; /* Defina a cor de fundo do contêiner da barra de progresso */
  }

  .progress-bar {
    width: 0; /* Inicialmente, a largura da barra de progresso é zero */
    height: 100%; /* A altura da barra de progresso é igual à altura do contêiner */
    background-color: #007bff; /* Defina a cor da barra de progresso */
    transition: width 0.3s ease; /* Adicione uma transição suave para a animação da largura */
  }

  .input-row {
    position: relative;
    display: inline-block;
    margin-left: 30px;
  }

  .label-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
  }

  .green-border {
    border: 2px solid green;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralize o conteúdo horizontalmente */
    width: 100%;
  }

  /* Estilos para a div.table-container */
  .table-container {
    width: 100%;
    overflow-x: auto; /* Adicione uma barra de rolagem horizontal se a tabela for muito larga */
  }

  /* Estilos para a tabela */
  table {
    width: 100%;
    background-color: #2b2b2b;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    table-layout: fixed; /* Impede que a tabela se expanda demais */
  }
  th button {
    width: 100%; /* Ajuste a largura conforme necessário */
    padding: 0; /* Remova o preenchimento para alinhar o texto no centro */
    background: none; /* Remova o plano de fundo do botão */
    border: none; /* Remova a borda do botão */
    cursor: pointer;
    text-align: center; /* Alinhe o texto à esquerda no botão */
  }


  .content-container label,
  .content-container input {
    text-align: left;
  }

  .fixed-column {
    width: 400px;
    text-align: left !important;
}

.green-background {
  background-color: green;
}
.red-background {
  background-color: rgb(206, 19, 6);
}

